{% extends 'base.html.twig' %}
{% block content %}

<section class="section" id="yenni">
  <div class="mask"></div>
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h2 class="title is-1 is-big-1">yenniferth carranza</h2>
        <p class="content is-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur sed odit excepturi dolores eveniet explicabo commodi reprehenderit doloribus molestias, vel provident dolore in maxime at itaque, eligendi sit! A, animi.</p>
        <br>
        <a href="">
          <i class="icon is-large">
            <span class="fab fa-facebook-f"></span>
          </i>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}